$button-color: #ac352d;

.custom-button {
    background-color: $button-color;
    border: none;
    color: white;
    padding: 30px;
    font-size: 2rem;
    font-family: "Open Sans";
    border-radius: 5px;
    box-shadow: 5px 5px 1px 0 #2c1b25;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: lighten($button-color, 10%);
        box-shadow: 1px 1px 0px 0 #2c1b25;
        box-shadow: 0 0 20px 3px #fdc100;
        transform: translate3d(4px, 4px, 0px);
    }
}
