.auth {
    .forms {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        width: 800px;

        form {
            border: 1px solid #666;
            padding: 27px;
            border-radius: 3px;
        }
    }
}
