.home {
    h1 {
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 3.26rem;
        margin: 0;
        color: #004a73;
    }

    .subtitle {
        font-family: "Montserrat", "Open Sans", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.27rem;
        color: #666;
    }
}
