.navbar {
    color: #fff;
    background-color: #262626;
    padding: 27px;
    display: flex;
    justify-content: space-between;

    .left {
    }

    .right {
        span.loading-text {
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .site-name {
        font-size: 1.4rem;
        font-weight: bold;
    }
}
