.footer {
    margin-top: 127px;
    border-top: 1px solid #666;
    padding: 67px 127px;
    background-color: #2a1923;
    color: #eee;
    display: flex;
    justify-content: space-between;

    a {
        color: #eee;
        text-decoration: none;
    }

    .left {
    }

    .right {
    }

    &.icons {
        color: #666;
    }
}
