.form-group {
    position: relative;
    margin: 45px;

    .form-input {
        display: block;
        border: 1px solid #666;
        padding: 7px;
        font-size: 1.2rem;
        border-radius: 3px;

        &:focus {
            box-shadow: 0 0 3px 4px cornsilk;
        }
    }

    .label {
        font-weight: bold;
        position: absolute;
        left: 5px;
        top: -21px;

    }
}
