@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat|Open+Sans&display=swap");

.app {
    font-family: "Inconsolata", "Open Sans", Helvetica, sans-serif;

    .page-wrapper {
        max-width: 860px;
        margin: 37px auto;
        color: #666;
    }
}
