@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat|Open+Sans&display=swap');

.app {
    font-family: "Open Sans", Helvetica, sans-serif;

    .page-wrapper {
        max-width: 860px;
        margin: 37px auto;
    }
}
